* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

p {
    font-size: 16px;
}

/* HEADER / NAVBAR STYLES START */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    font: 20px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* HEADER / NAVBAR STYLES END */

/* HERO STYLE START */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* HERO STYLE END */

/* SECTION STYLES START */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content-box { 
    display: flex;   
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-box img {
    max-height: 200px;
}

.content-box h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.content-box:nth-child(odd)>div {
    padding-left: 25px;
}

.content-box:nth-child(even)>img {
    order: 1;
}

.content-box:nth-child(even)>div {
    padding-right: 25px;
}
/* SECTION STYLES END */

/* LEAD GENERATION STYLES */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;  
}

.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* LEAD GENERATION STYLES END */

/* FOOTER STYLES START */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

/* END FOOTER STYLES */