* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/*---------------------------------------------------------------------------------------------*/
/* Header CSS Elements*/
header h1 span {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*--------END HEADER ELEMENTS-----------*/

/*--------MAIN ELEMENTS-----------------*/
#hero {
    height: 1200px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

main div img {
    max-height: 200px;
}

main div h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*--------------END MAIN ELEMENTS------------*/
/*--------------ASIDE ELEMENTS----------------*/ 
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside div {
    margin-bottom: 32px;
    color: #ffffff;
}

aside div img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*--------------END ASIDE ELEMENTS------------*/
/*--------------FOOTER ELEMENTS------------*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
