* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Header Styles */
.header h1 {
    display: inline-block;
    font-size: 48px;
}


.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* Header Styles END */

/* Hero Styles Start */
.hero img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}
/* Hero Styles End*/

/* Content: Search, Reputation, and Social Media Start */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
.content img {
    max-height: 200px;
}
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
.sections {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

/* Search engine End */

/* Benifits section Start */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

.benefit-side-bar {
    margin-bottom: 32px;
    color: #ffffff;

}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Benefit section END */

/* Footer section Start */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
/* Footer section END */